.navbar {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.title {
  font-size: var(--font-md);
  background: var(--gradient-gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navLinks {
  display: flex;
  gap: 70px;

  a {
    font-size: var(--font-xs);
    text-decoration: none;
    background: var(--gradient-gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

