.skillsSection {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 clamp(1rem, 5vw, 400px);
  margin-bottom: 150px;
  text-align: center;
}

.title {
  font-size: var(--font-lg);
  background: var(--gradient-gray);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 50px;
}

.skillsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 70px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    gap: 60px;
  }
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-items: center;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (max-width: 480px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}